[2015-09-08 07:54] micjamking opened #8 "Add more thorough explanation for installation"

[2015-09-08 08:00] micjamking opened #9 "Add additional color palettes"
Add themes from https://github.com/daylerees/colour-schemes

[2015-09-08 08:01] micjamking opened #10 "Create icon and screen graphics for Chrome Store"
https://developer.chrome.com/webstore/get_started_simple#step3

[2015-09-08 08:03] micjamking opened #11 "Create microsite for chrome extension"

[2015-09-08 08:35] micjamking opened #13 "Rename `_styles.scss` to `_common.scss`"

[2015-09-08 08:39] micjamking opened #14 "Submit extension to Chrome store"
https://developer.chrome.com/webstore/get_started_simple#step3

[2015-09-13 12:35] #10 closed

[2015-09-13 12:56] micjamking opened #17 "Build process should create packaged .zip"
packaged zip should remove all extraneous images no needed for extension, as well as the following directories:

- .git
- node_modules/
- app/
- dist/.tmp
- dist/.sass-cache

[2015-09-13 12:57] micjamking opened #18 "Create tagged releases"

[2015-09-13 12:58] #14 closed

[2015-09-13 12:59] micjamking commented on #8
Add CONTRIBUTE.md

[2015-09-13 12:59] micjamking opened #19 "[1.0] Add unit tests"
Create unit tests for setting up the extension dependencies and communication with `chrome.storage`. A majority of the functionality is reliant on the successful return of several XHR's and the unit tests should reflect this behavior. Third-party functionality (ie. `chrome.storage` and `chrome.devtools.panels`) should be stubbed out appropriately.

## Unit testing scope

**DevTools Extension: [app

[2015-09-14 01:06] micjamking opened #20 "Create json for themes & load via ajax in panel.js"

[2015-09-14 01:29] micjamking opened #21 "Promote plugin"

[2015-09-14 03:24] #8 closed

[2015-09-14 03:24] #17 closed

[2015-09-14 03:24] #18 closed

[2015-09-14 10:38] #20 closed

[2015-09-14 12:09] micjamking commented on #9
Convert base 16 color palettes? https://github.com/chriskempson/base16

[2015-09-14 13:17] micjamking commented on #9
https://github.com/Alchiadus/base16-syntax

[2015-09-14 13:21] #9 closed

[2015-09-16 18:44] micjamking opened #30 "Support additional font families"
Font's are loaded directly from the users computer, so the extension is technically capable of supporting any font that's currently enabled on the users system.

However, for maximum legibility and consistency, it's preferred to constrain the set of typefaces to monospace fonts created for pre-formatted text/code display.

For now, we support `Hack`, `Source Code Pro` and `Droid Sans Mono` and the

[2015-09-16 22:40] micjamking opened #31 "Only sources and console panels are themed"
I've made a conscious design decision not to apply the selected theme in the current version of *DevTools Author* to all panels, but rather only the `Sources` and `Console` panels within DevTools. The reasons for this is [maintainability](#maintainability), [usability](#usability), and [consistency](#consistency).

### Maintainability
First off, skinning Chrome's Developer Tools is not a simple ta

[2015-10-04 05:41] #21 closed

[2015-10-05 00:39] micjamking opened #38 "Move theme templates in to their own directory"
Currently, theme templates are sitting at the same level as the specific theme files:

[code]

Should separate them for better organization
[code]

[2015-10-15 02:31] #13 closed

[2015-10-15 02:31] #38 closed

[2015-10-15 04:37] micjamking opened #46 "Add Changelog to README.md"
- Add release notes to [tagged releases](https://github.com/micjamking/devtools-author/tags)

[2016-01-07 12:09] epilande opened #66 "Wrapped text on elements panel is difficult to read"
Awesome job on the elements panel!

With a light theme, wrapped text is a bit hard to read (see attached screenshot).
The selected element text color is white, making it hard to read with a light background.

A possible fix is to remove line 866 `height: 22px !important;` from `/app/styles/modules/_common-styles.scss`

![screen shot 2016-01-07 at 1 43 43 am](https://cloud.githubusercontent.com/ass

[2016-01-11 09:11] #66 closed

[2016-01-11 09:14] micjamking commented on #66
@epilande: just saw this, thanks for catching that! Yes, that was suppose to be a min-height for the selection. Just pushed up a fix and updated the plugin, you should see the changes in an hour or so.

[2016-01-25 09:29] #11 closed

[2016-01-25 19:35] taylorkmho opened #70 "Theme name with line-break prevents select UI"
![screen shot 2016-01-25 at 9 32 53 am](https://cloud.githubusercontent.com/assets/5141111/12561947/a12fe580-c346-11e5-85e5-db444eabfc8a.png)

Just adding because I know more eyes = a good thing. I'm looking into the codebase to see if I can figure out a way to fix and pull request. Cool project, bruh!

[2016-01-25 19:48] micjamking commented on #70
@taylorkmho Good looking out sir! This is probably related to the fixed width I have on the panel `.container` class; at the moment I'm not really using any media queries to make the panel responsive ( :astonished: I know).

https://github.com/micjamking/devtools-author/blob/master/app/styles/panel.scss#L119

I'll take a look in to it this evening (unless you beat me to it :wink: ).

[2016-01-27 16:01] cowboy commented on #30
Please add support for the excellent, free monospace M+ Fonts!

* M+ M Type-1
* M+ M Type-2
* M+ MN Type-1

https://mplus-fonts.osdn.jp/design.html

[2016-01-27 16:19] cowboy opened #71 "Add ability to select font."
Is there any way to provide a font selection dropdown on the "Author Settings" page? That'd be superb!

[2016-01-27 16:39] mcrider opened #72 "Can't change theme when theme name wraps"
The dropdown is obscured by the text and i can't click on it.  Solved by making the dev tools panel wider, but should probably be handled in code :)  Thanks for the extension!
<img width="886" alt="screen shot 2016-01-27 at 11 37 53 am" src="https://cloud.githubusercontent.com/assets/130554/12620518/97c1c432-c4ea-11e5-8a42-1f37568b5d07.png">

[2016-01-27 17:16] danielgamble opened #73 "Computed panel rows use the default colour"
This is using the Monokai theme: https://i.imgur.com/LlZiiVw.png

I think a color just needs to be added for a few of the themes that would style the background of the box model as well as the alternate rows :)

[2016-01-27 17:25] smlombardi opened #74 "How do you change fonts?"
I have all 3 of the named fonts on my Mac.  I use them fine in my IDEs.

I see no place to change the font in the UI. I can change the theme and font size no problem.

I am on Mac 10.11, Chrome Version 49.0.2623.23 dev (64-bit)

[2016-01-27 17:28] jano23 opened #75 "Windows10 Chrome Version 48.0.2564.82 m Seetings>Experiments not there"
I have Enabled Developer tools experiments in chrome (chrome://flags...)
When I go to DevTools>Settings, Experiments does not show up as an option.
I have restarted Chrome several times, even rebooted.
<img width="548" alt="settings" src="https://cloud.githubusercontent.com/assets/759023/12622011/a2a00fe4-c4e0-11e5-811d-a308da45e32f.png">

[2016-01-27 17:31] jano23 commented on #72
For the time being you can drag the left border and make the screen big enough so there is no name wrap. Then you can change themes again

[2016-01-27 17:39] jano23 commented on #75
Fixed it.
Removed the extension.
Reinstalled.
Rebooted.

[2016-01-27 17:39] #75 closed

[2016-01-27 18:35] scgm11 opened #76 "Icons on the bar not showing"
Latest Chrome version
Installed as described, cant see the icons on the bars
<img width="1376" alt="screen shot 2016-01-27 at 15 34 48" src="https://cloud.githubusercontent.com/assets/984668/12624016/9dde93a6-c50b-11e5-9556-c9b8a7771040.png">

[2016-01-27 20:01] smlombardi commented on #71
Is there ANY way to change the font, as it is right now?

[2016-01-27 20:29] smlombardi commented on #76
Seems theme-relatedd with the dark themes.  I used Mocha, which is a little better, although on rollover they're hidden

[2016-01-27 22:51] LeoAJ commented on #76
+ 1, `Monokai` has the same issue.

[2016-01-28 00:06] jano23 opened #79 "Missing UI elements"
I have a series of screenshots that show missing UI elements in Chrome.  They do show up in Chrome Canary. I have screenshots of both Chrome and Chrome Canary for each example. I have the latest version of each.

Im this first one the icons notice the missing Select, Toggle Device Mode on the upper lefthand corner and then the missing Customize and control DevTools and Close icons on the upper rig

[2016-01-28 00:08] jano23 commented on #79
I didn't try ALL the themes but I did try several. In the images above I am using the Coda Theme

[2016-01-28 00:14] jano23 commented on #76
Opened a similar issue before I saw this one.
It seems specific to the latest version of Chrome not the themes.
The UI elements show up just fine in Chrome Canary with the same theme

[2016-01-28 06:41] semparichyoung commented on #72
I'm open another Dev tools from color page for trying color.

And than, you can find <h1> and remove it to re-select your theme

[2016-01-28 07:53] artifactdev opened #82 "No DevTools Icons"
Hi, if I enable devtools author the devtools don't show the icons for menu or console errors. The Number of Errors aren't shown too.

[2016-01-28 07:56] #70 closed

[2016-01-28 07:56] #72 closed

[2016-01-28 08:14] dgurkaynak commented on #79
I have the same issue with Chrome 47.0.2526.111 (64-bit) running on OS X 10.11.3.

[2016-01-28 08:26] gladimdim commented on #82
I have the same issue.

MacOS 10.10.5. Chrome Version 47.0.2526.111 (64-bit).

No icons for buttons:
<img width="655" alt="screen shot 2016-01-28 at 10 25 52 am" src="https://cloud.githubusercontent.com/assets/448179/12638951/a04f8e30-c5a9-11e5-90e8-09e0a81afdaf.png">

[2016-01-28 09:21] micjamking commented on #73
@danielgamble Thank you for bringing this issue to my attention; it appears to be happening when the DevTools window is docked, ie. the computed panel styles take effect when the DevTools window is expanded.

I'll address this ASAP.

[2016-01-28 09:23] danielgamble commented on #73
Sweet, looking forward to a fix. Will just use a theme that is light instead of dark for now :)

[2016-01-28 11:07] #73 closed

[2016-01-28 11:11] micjamking commented on #73
Just pushed this out in update v0.4.6; thanks again for the feedback @danielgamble!

[2016-01-28 11:13] micjamking commented on #82
Related #76

[2016-01-28 11:13] micjamking commented on #79
Related #76

[2016-01-28 11:41] #76 closed

[2016-01-28 11:41] #79 closed

[2016-01-28 11:41] #82 closed

[2016-01-28 11:54] drfisher opened #83 "Broken icons and unreadable text color"
Icons are invisible (but clickable).
console.info has unreadable text color in a Monokai theme.

Mac OS El Capitan
Chrome 47.0.2526.111

<img width="639" alt="issue" src="https://cloud.githubusercontent.com/assets/530830/12643736/00567544-c5cf-11e5-9a68-a0ba89170518.png">

[2016-01-28 11:56] micjamking commented on #76
Hey guys,

I was unable to replicate this issue on my machine using either Chrome 47 or Chrome Canary 49 on my Macbook Pro OSX 10.11.2

DevTools Author does provide a custom icon sprite image which overrides the default icons in DevTools, and my thoughts are that it's likely due to a path issue however I'll need to do further testing to confirm.

For now, since the icon overrides are only for a co

[2016-01-28 11:59] micjamking commented on #83
Hi @drfisher, I just pushed out a release (v0.4.7: https://github.com/micjamking/devtools-author/commit/616a9e6dd37c2472b23cf49bb96a470897dd86c1) which resolves similar icon issues #76, #79, #82.

Can you confirm if v0.4.7 resolves this issue?

[2016-01-28 12:04] drfisher commented on #83
@micjamking, the issue with icons was resolved. Thanks for your work!
<img width="643" alt="issue2" src="https://cloud.githubusercontent.com/assets/530830/12643945/7066796e-c5d0-11e5-8c36-17c216803703.png">

[2016-01-28 12:10] micjamking commented on #71
Hey @cowboy & @smlombardi,

Currently font _selection_ in DevTools Author is agreeably poor, with the only way to manage the supported fonts is to use your desktop font manager tool, essentially enabling/disabling the system fonts based on the font-family stack cascade priority below:

[/app/styles/base/_variables.scss#L13](https://github.com/micjamking/devtools-author/blob/master/app/styles/base/

[2016-01-28 12:12] micjamking commented on #74
Duplicate & addressed in #71

[2016-01-28 12:12] #74 closed

[2016-01-28 12:27] micjamking commented on #83
Hey @drfisher

I'm unable to replicate the console.info issues (see screenshot below):

![screen shot 2016-01-28 at 2 17 54 am](https://cloud.githubusercontent.com/assets/651702/12644216/6f471c2a-c565-11e5-82bf-ef026b30a506.png)

Are there any other environment details you can provide? I'm not very familiar with console.info, but it appears in your case the output is a string message (?). Is this

[2016-01-28 13:00] cowboy commented on #71
What about allowing the user to type the name of the font into an input? You could pre-populate it with the default (and allow the user to revert to the default) along with showing a sample code preview with the font face, size, and the theme.

[2016-01-28 13:56] smlombardi commented on #71
this is how Atom works, and it's fine.

[2016-01-28 16:57] MWrathDev commented on #83
This has not been resolved for me styling is applied incorrectly to the floating menu on click. However im using the dev version of chrome, unsure if this is a priority for you.

https://www.chromium.org/getting-involved/dev-channel

As far as i know only affecting monokai, details:

MS windows 7 64bit
Chrome Version 49.0.2623.23 dev-m (64-bit)

[2016-01-28 17:09] thinkhuman opened #84 ""Reload DevTools"?"
The instructions say themes take effect after you "Reload DevTools". Do you mean close DevTools and open them again? I can't get a single theme to apply.

[2016-01-28 17:11] jmeas commented on #84
@thinkhuman yes, that's what the instructions mean. Did you follow the rest of the installation instructions? There are at least 2 experimental flags that you need to flip on in 2 different places.

[2016-01-28 17:14] thinkhuman commented on #84
I followed the 3-step instructions here: http://mikeking.io/devtools-author/

[2016-01-28 17:20] MWrathDev commented on #83
Just to clarify, what i mean is that the color is way too light and since the dropdown context menu is left with a white background, it's impossible to read text, unless you hover, as follows:

![dev-author](https://cloud.githubusercontent.com/assets/8978176/12652368/997e92aa-c63e-11e5-8c41-5d4a7fac0076.PNG)

After further investigation this happens in the following themes:

Atelier Dune
Base16
Bo

[2016-01-28 20:39] MWrathDev commented on #84
Yes, chrome extensions run in their own instance isolated from that of the browser and can only interact with page / browser elements through a defined API. Thus it's always best to relaunch when first installing them.

As for the changing theme: make selection -> double tap f12, but concur the docs could use a little update :)

[2016-01-28 22:08] TheJaredWilcurt opened #85 "Scrollbars"
I'm on Windows and having a scrollbar is actually very useful, especially the up and down arrows on it. Currently all the themes I've tried have this tiny little 2 pixel wide, and often not much taller scrollbar that isn't even clickable. Seriously, what's the point if you can't use it. There is no clickable pixels, you either resize the sidbar or click on an element in the DOM.

![devtools-author

[2016-01-28 23:21] j-lo opened #86 "Not working after Chrome cloud sync, possible firewall issue?"
Hey Mike, great extension man, really loving it. I got it to work from home last night on two separate Chrome profiles, but I got in to work this morning and on the same two profiles the Author Settings won't work/appear properly, the Elements/Console etc. panels wouldn't apply the theme, and the Author Settings panel is mostly blank. Attached a screenshot of what it looks like, you can't select a

[2016-01-28 23:46] micjamking commented on #86
Hi @j-lo; I haven't seen this issue, however it is quite possible it could be related to a firewall conflict since the theme styling and preview are dynamically loaded using XHR. I can't say 100% that is the issues, since the plugin doesn't require internet access to run and the CSS and JSON assets are technically being served from the same domain.

What is your environment versions (Chrome, OS)?

[2016-01-29 00:21] j-lo commented on #86
Hey @micjamking thanks for getting on to this so quickly, apologies for breaking the extension so soon after use :)
Yeah that's what I suspected, I thought it could work independently of a connection.
So to clarify, I'm working off of Chrome 48.0.2564.97, on an iMac running El Capitan 10.11.3. I do have a few other extensions running, not sure if it's possible that they would interfere (just Color

[2016-01-29 00:33] jamiewilson opened #87 "Please consider removing `-webkit-font-smoothing: antialiased;`"
First off, thanks for making this extension! It's really awesome.

But I do find the use of font-smoothing to really diminish legibility. I made a gif to highlight the differences.

![font-smoothing](https://cloud.githubusercontent.com/assets/3308673/12663435/cdb55e74-c5ed-11e5-8a94-b6ffdb816eec.gif)

Also, I've been considering creating a dev tools theme specifically for my Sublime Text and Atom

[2016-01-29 01:44] micjamking commented on #86
Hi @j-lo

I'm assuming you've already followed the [usage guidelines](https://github.com/micjamking/devtools-author#usage) from the README since you mentioned you were able to get it running on two profiles from home (ie. enabled Developer Tools experiments and checked Allow custom UI themes in DevTools settings).

Does the problem occur on other machines in the same network, or isolated to your m

[2016-01-29 02:10] prurph opened #88 "Tabs above CSS on Elements pane don't overflow properly"
Great plugin! Slight visual issue with these tabs:

![devtools-author 2016-01-28 21-06-31](https://cloud.githubusercontent.com/assets/6109531/12665102/333c669c-c603-11e5-8bd4-04a6dd6336ee.png)

The normal devtools behavior is for these to always take up just one row.

They also appear to be just a bit too tall and are exceeding the bar there on the top.

[2016-01-29 02:13] jmeas commented on #87
Just dropping in to say that Predawn looks very nice :o

[2016-01-29 02:25] micjamking commented on #86
I can't say for sure, since I'm unable to replicate, but I have a feeling the issue may be due to my google analytics script blocking for some reason or another, within your environment.

I've added an `async` attribute to the analytics script tag, fingers crossed this resolves the issue. Has been pushed out in release v0.4.8 https://github.com/micjamking/devtools-author/commit/a1f076dac5ae9a82f27

[2016-01-29 02:37] #84 closed

[2016-01-29 02:38] micjamking commented on #84
Available in release v0.4.9 https://github.com/micjamking/devtools-author/commit/3d80a7a903c5248eaabba96ae60c83e81d67ae6f

[2016-01-29 02:57] j-lo commented on #86
Hey @micjamking,

Yeah, I followed the guidelines. I just tried it on a workmate's PC and managed to get it running successfully, running Chrome 47.0.2526.111 on Windows 7 Pro, so it seems to just be my machine. And yeah, did a double inspection of the dev tools, no errors in the console.
The only thing/difference I've managed to pick up is that for some reason Chrome on my work machine has genera

[2016-01-29 02:58] j-lo commented on #86
Ah great work re the analytics fix @micjamking, I'll give it another try later this afternoon, will keep you posted on how I go.
Thanks again for the support with this.

[2016-01-29 03:21] micjamking commented on #87
Hey @jamiewilson, thanks for the feedback!

I typically follow http://usabilitypost.com/2012/11/05/stop-fixing-font-smoothing/ as best practice in these matters. FWIW, DevTools Author only applyies `-webkit-font-smoothing: antialiased;` for dark themes with light text on Mac OSX. I found the default (ie. `subpixel-rendering`) made the fonts appear unnaturally bold (see screenshots below, `antialia

[2016-01-29 03:26] micjamking commented on #87
Also, Predawn does look mighty cool! There's a tut in the README to create additional themes for DevTools Author:

https://github.com/micjamking/devtools-author#creating-additional-themes

Let me know if you have any issues or questions.

[2016-01-29 03:26] micjamking commented on #87
Resolved in v0.4.10  fdcc1e8

[2016-01-29 03:26] #87 closed

[2016-01-29 07:31] micjamking commented on #83
Hi @MWrathDev

Thanks for the feedback!

Based on what you're experiencing in your comment https://github.com/micjamking/devtools-author/issues/83#issuecomment-176290250, this appears to be a distinct and separate issue from the missing icons and `console.info` output bugs specified in OP's issue.

Your issue also appears to be specific to Windows, as Mac (OSX 10.11.3) uses the system default styl

[2016-01-29 08:03] #85 closed

[2016-01-29 08:04] micjamking commented on #85
Released in v0.4.11 https://github.com/micjamking/devtools-author/commit/2fc4c72a0471af29425d01cf648a87856c553278

[2016-01-29 08:42] SaintGerasim opened #89 "Missing scrolling via mouse (not wheel)"

[2016-01-29 10:37] micjamking commented on #71
(Apologies for the low-res screenshot, but you get the point.)

![screen shot 2016-01-29 at 12 32 03 am](https://cloud.githubusercontent.com/assets/651702/12673322/2c022656-c620-11e5-8966-6ab87723b084.png)

Just hit enter to save the font (the "close and reopen devtools..." alert will appear).

[2016-01-29 10:37] #30 closed

[2016-01-29 10:37] #71 closed

[2016-01-29 10:46] micjamking commented on #89
What does that mean? Can you provide details or an example?

[2016-01-29 10:48] micjamking commented on #88
@prurph Thanks for pointing this out! I've definitely noticed this, but there's several pieces at play which sets the sizing of those tabs so it's a little tricky. Will address asap.

[2016-01-29 14:53] trevor-allen opened #91 ".selected height is incorrect for smaller font sizes."
The height of selected rows in the Elements view is wonky at a small font-size [10px](https://i.imgur.com/ZhQmsvZ.png)

[2016-01-29 16:10] cowboy commented on #71
Work perfectly with `mplus-2m-regular`, thanks!

[2016-01-29 16:32] smlombardi commented on #71
Works with `SourceCodePro-Regular` as well.  Thank  you.

[2016-01-29 17:59] pjconnors opened #92 "Some characters not visible when editing attribute values"
The `=` and `"` characters are not visible when I double click into an attribute to edit its value (eg. editing a class name.)

Example:
![image](https://cloud.githubusercontent.com/assets/3886376/12683431/39ea402a-c687-11e5-9b73-d80f61a6debb.png)
Selecting everything in that view shows that those characters are there, but their color is white.
![image](https://cloud.githubusercontent.com/assets/3

[2016-01-29 20:37] jamiewilson commented on #87
Thank you! I need a freakin' retina screen bad.

[2016-01-29 22:30] SaintGerasim commented on #89
Sorry for my bad english.
I mean please add a scroll bar to "elements" and "sources".

My old laptop didn't have touchpad, so i have to scroll websites and apps using old scrollbar :(

[2016-01-30 09:43] drfisher commented on #83
Hello @micjamking

Sorry about wrong issue description. It was not a console.info. It was a console.time. To reproduce just paste this code in a console and press Enter

`console.time('test');setTimeout(()=>{console.timeEnd('test');}, 1000);`

<img width="561" alt="console_issue" src="https://cloud.githubusercontent.com/assets/530830/12694955/02c29d7c-c74f-11e5-91ea-fefa4fe75317.png">

[2016-01-30 16:12] mikeLspohn opened #93 "Not working on OSX El Capitan"
For some reason when I switch the theme and close then reopen dev tools it's not applying the new theme. Any ideas? EDIT ** It's working now. Not sure what was going but after I restarted Chrome it started working. This can probably be closed.

[2016-01-30 16:25] #93 closed

[2016-01-31 05:42] micjamking commented on #83
![screen shot 2016-01-30 at 7 26 32 pm](https://cloud.githubusercontent.com/assets/651702/12700496/98180742-c789-11e5-99d5-df7c91e5a031.png)

Resolved and released in v.0.5.1 https://github.com/micjamking/devtools-author/commit/ff176382ac8e35ca0ce1f09144132f5273a5dc06

[2016-01-31 05:42] #83 closed

[2016-01-31 05:50] micjamking commented on #92
Thanks for the feedback @pjconnors, will resolve asap!

[2016-01-31 05:52] #92 closed

[2016-01-31 05:53] micjamking commented on #92
Resolved and released in v.0.5.2 https://github.com/micjamking/devtools-author/commit/58c43ceaed847cebd2df6993f196af0b7bf89a5f

[2016-01-31 05:58] #91 closed

[2016-01-31 05:59] micjamking commented on #91
Thanks for the feedback @trevor-allen

![screen shot 2016-01-30 at 7 57 22 pm](https://cloud.githubusercontent.com/assets/651702/12700542/ea500e18-c78b-11e5-91f9-bf602edd179c.png)

This should be resolved in v0.5.3 19bb6b6

[2016-01-31 06:17] micjamking commented on #86
@j-lo any luck?

[2016-01-31 08:10] j-lo commented on #86
Hey @micjamking no not yet mate, the Chrome Store hadn't updated by the time I had to finish up on Friday, am just waiting till I get back on the work computer to test it again, will let you know as soon as I can, probably Wednesday.

[2016-01-31 10:59] abhi1-g opened #94 "Console errors on dark theme are in white"
Console error text on dark themes is in white with a background-color of light pink and so it isin't quite visible
![c3](https://cloud.githubusercontent.com/assets/8082746/12710902/ee7b60fe-c8e0-11e5-8913-eed55c310640.JPG)

[2016-01-31 11:08] abhi1-g opened #95 "Content of the toggle element state is overflowing"
The content of the Toggle Element State Toggle which has 4 checkboxes that force an element state is overflowing its container and is getting hidden

[2016-01-31 20:42] besir opened #96 "Monokai theme color issue in console"
After throw exception is first message not readable (bad color)

Screenshots:
[one](http://i65.tinypic.com/fnbbmc.png)

[showed text](http://i67.tinypic.com/2vafmo2.png)

[2016-02-01 02:56] micjamking commented on #96
Hey @besir, thank you for catching that!

I just recently made fixes for console warnings and it looks like they may have impacted the error logging unintentionally. I'll try to address this ASAP!

Thanks!

[2016-02-01 02:59] micjamking commented on #95
Hi @abhi1-g thanks for bringing this to my attention! I'm pretty sure I know what you're talking about, but just so I can confirm the exact issue you are experiencing, do you mind providing a screenshot? This will also help me compare when I complete the fix.

[2016-02-01 03:51] klimashkin opened #97 "Darcula"
I don't know if here a good place to request new theme.
Many developers work with Jetbrains Darcula theme in theirs Webstorm/phpstorm etc. Good to have it in devtools also!

![Darcula]
(https://pbs.twimg.com/media/CAh_g1BW4AAXFWU.png)

![Darcula]
(http://dazzet.co/wp-content/uploads/2014/09/02-darkula.png)

[2016-02-01 07:05] abhi1-g commented on #95
Sure
![capture](https://cloud.githubusercontent.com/assets/8082746/12710807/210c0452-c8e0-11e5-8f99-92267b3de170.JPG)
![c1](https://cloud.githubusercontent.com/assets/8082746/12710809/25126938-c8e0-11e5-8c48-ef5881e75bfd.JPG)

[2016-02-01 07:09] besir commented on #96
Thx!

[2016-02-01 15:57] drfisher commented on #96
I have the same issue. To reproduce it just paste in a console this code

`throw new Error('Error message');`

[2016-02-01 16:18] DisasterMan78 commented on #94
Confirmed occurring with Monokai theme. Also, elements logged to console do not have the same theming as in the elements panel, and legibility is very poor.

If you would prefer this be raised as a separate issue, let me know.

![image](https://cloud.githubusercontent.com/assets/2079401/12722997/5b9dc51e-c8ff-11e5-81da-7b2ca55bdcdc.png)

[2016-02-01 20:26] micjamking commented on #89
Hi @SaintGerasim, no worries I appreciate the feedback.

Are scrollbars present when DevTools Author is disabled? Custom scrollbar styles were recently removed in v0.4.11, so the extension has no impact on the systems default scroll behavior.

For instance, if you are on OSX (10.7+), scrollbars are hidden until activated by scrolling (making them invisible by default). This behavior can be changed

[2016-02-01 22:18] j-lo commented on #86
@micjamking, downloaded the latest version, still no luck. Have a slightly different view now (can see the Font-Family, though still can't select fields) but I'm guessing that's just some of the new updates:
![screen shot 2016-02-02 at 8 14 52 am](https://cloud.githubusercontent.com/assets/5381716/12733201/3c2e614e-c985-11e5-9a46-b3886c444bf1.png)

I had the same error triggered on my home PC now

[2016-02-02 05:45] SaintGerasim commented on #89
Hi @micjamking, i don't know what i do, or you do on your side, maybe my chrome updated extension to v0.4.11 or something else, but now scrollbars have appeared!

Seriously, at first, they're missing like in OSX (I'm Windows user), but now i can see them!

*And it's my default non-themed scrollbars, at first there been a pink, very tiny scrollbar and i actually can't scroll it to down.

Here's scr

[2016-02-02 05:46] SaintGerasim commented on #89
@micjamking , oh and thanks for feedback!

[2016-02-02 05:51] #89 closed

[2016-02-02 08:02] micjamking commented on #89
Hi @SaintGerasim; yes, you are correct, that was indeed an issue before v0.4.11, but the latest version at this time (v0.5.3) includes the fix you see. Glad you enjoy the plugin!

[2016-02-02 08:41] micjamking commented on #96
@besir / @drfisher this is resolved in v0.5.5 5ba3d18

![screen shot 2016-02-01 at 10 37 00 pm](https://cloud.githubusercontent.com/assets/651702/12743873/e5a20b14-c934-11e5-8747-e97ca904af44.png)

[2016-02-02 08:41] #96 closed

[2016-02-02 08:43] micjamking commented on #94
@abhi1-g / @DisasterMan78 thanks for bringing this to my attention! This actually (partially) was a general styling issue, in the way that it affected multiple dark themes. However, this is resolved in v0.5.5 5ba3d18

![screen shot 2016-02-01 at 10 37 00 pm](https://cloud.githubusercontent.com/assets/651702/12743873/e5a20b14-c934-11e5-8747-e97ca904af44.png)

[2016-02-02 08:43] #94 closed

[2016-02-02 08:47] micjamking commented on #97
@klimashkin here is a perfect place to request new themes! If you can locate the color palette (hex or RGB) I can try to recreate the theme. The match may not be perfect since Devtools itself has theming restrictions, but we can probably get pretty close.

[2016-02-02 08:57] micjamking commented on #95
@abhi1-g this is resolved in v0.5.6 5a01068

![screen shot 2016-02-01 at 10 53 54 pm](https://cloud.githubusercontent.com/assets/651702/12744230/2239a10c-c937-11e5-8ba8-f8c272da7735.png)

[2016-02-02 08:57] #95 closed

[2016-02-02 10:32] DisasterMan78 commented on #94
Quick tip to force update of extensions:

Go to chrome://extensions/
Check the 'Developer mode' checkbox
Click [Update extensions now]

[2016-02-02 10:36] DisasterMan78 commented on #94
Many thanks for the swift update.
Elements logged to console are still barely legible, I shall open a separate ticket for this.

[2016-02-02 10:39] DisasterMan78 opened #101 "Elements logged to console are barely legible in dark themes"
The dark colours used when elements are logged to console (e.g. `document.getElementById('{{elementId}}');` ) are very dark and do not contrast well enough with the background colour to be legible.

![image](https://cloud.githubusercontent.com/assets/2079401/12746953/375d7362-c999-11e5-84c1-a0c9343d88ec.png)

[2016-02-02 14:40] bolensmichael commented on #97
I think I found some hex values for the theme. I'm happy to take a stab at it!

[2016-02-02 15:27] DuckyDisciple commented on #86
I'm having this same problem. It was working when I was at home, but at work I see the same screen. I can check into our firewall settings to see if I can find if my computer is being blocked somewhere.

[2016-02-02 16:43] micjamking commented on #97
@bolensmichael go for it! Feel free to make a PR that references this issue (#97) when you're done.

[2016-02-02 16:45] micjamking commented on #86
@DuckyDisciple thank you! this has been a really tricky one to debug because I cannot replicate it and it's happening in really isolated situations. Please let me know if you discover anything new.

[2016-02-02 17:23] DuckyDisciple commented on #86
@micjamking Unfortunately I don't see anything being blocked on the firewall. I opened the dev tools in another window and then opened another dev tools (like you mentioned above) and the only thing that stood out was a warning about XMLHttpRequest on the main thread being depricated.

If it helps at all, I am on a Chromebook, version 48.0.2564.92 beta

[2016-02-02 17:29] micjamking commented on #101
@DisasterMan78 thank you for breaking this out as a separate issue; will try to address this as soon as I can.

[2016-02-02 17:42] DuckyDisciple commented on #86
I just looked through the source code a bit more to figure out what is going on. One possible error point is that it the function is initialized with window.ga as the 3rd parameter. When I look up window.ga in the console it is undefined. I was hoping I could put in a breakpoint and test this out, but I can't figure out how to use a breakpoint since I can't open the 2nd dev tools and refresh the e

[2016-02-02 17:46] micjamking commented on #86
@DuckyDisciple can you try and run/build the plugin locally, removing the GA script from panel.html to see if it resolves the issue? I originally assumed it might have something to do with GA (see https://github.com/micjamking/devtools-author/issues/86#issuecomment-176529420).

[2016-02-02 19:01] DuckyDisciple commented on #86
@micjamking I ran the unpacked plugin locally, both with the ga script and with it commented out. Both times it looked the same.

[2016-02-02 19:54] micjamking commented on #86
@DuckyDisciple that's disappointing :unamused: ; I was almost sure that was the issue. The plugin kickstarts with an `init()` function on https://github.com/micjamking/devtools-author/blob/master/app/scripts/panel.js#L277, which itself contains an XHR to grab the theme.json file and load the themes in to the select menu on the settings page.

The rest of the page is loaded as a callback function w

[2016-02-03 01:04] mknrls opened #103 "Material Dark Theme: Errors not visible :P"
Errors are not visible because of the text colors being used although warnings look totally fine.

![error_not_visable](https://cloud.githubusercontent.com/assets/6585299/12769683/c14db20a-c9e7-11e5-9a97-0185e3b245f8.PNG)

[2016-02-03 01:07] micjamking commented on #103
What version of the plugin are you on? This issue was resolved in v0.5.5

Reference issues: #94 #96

[2016-02-03 01:12] mknrls commented on #103
my bad im on version 0.5.3, seem like chrome didn't update my extension..weird.

[2016-02-03 01:15] micjamking commented on #103
You can manually update the extension by going to chrome://extensions/ and checking **Developer Mode** and then clicking the "Update extensions now" button.

![screen shot 2016-02-02 at 3 13 40 pm](https://cloud.githubusercontent.com/assets/651702/12769889/ab3fe15e-c9bf-11e5-8def-7b5670c16ae9.png)

I'm closing the issue for now (since it should be resolved), but please let me if you still experien

[2016-02-03 01:15] #103 closed

[2016-02-03 08:36] micjamking commented on #97
Awesome work by @bolensmichael! This is in release v0.5.7 c8d9064

![screen shot 2016-02-02 at 8 30 10 pm](https://cloud.githubusercontent.com/assets/651702/12776891/705964f0-c9fd-11e5-9933-af243e396e00.png)

[2016-02-03 08:36] #97 closed

[2016-02-03 10:01] #46 closed

[2016-02-03 10:15] #101 closed

[2016-02-03 10:16] micjamking commented on #101
This should be resolved in release v0.5.8

![screen shot 2016-02-03 at 12 14 03 am](https://cloud.githubusercontent.com/assets/651702/12779313/5fd9e43e-ca0b-11e5-9127-30413e94b89a.png)

[2016-02-03 11:02] #88 closed

[2016-02-03 11:06] micjamking commented on #88
This should be resolved in release v0.5.9; please let me know if you are still experiencing issues.

![screen shot 2016-02-03 at 1 02 27 am](https://cloud.githubusercontent.com/assets/651702/12780476/4f7e7c88-ca12-11e5-84d7-53ce3ab14483.png)
![screen shot 2016-02-03 at 1 02 41 am](https://cloud.githubusercontent.com/assets/651702/12780477/4f7f8290-ca12-11e5-9be8-524a6a22ae8e.png)
![screen shot 201

[2016-02-03 12:50] DuckyDisciple commented on #86
I did a little bit of debugging. It seems like it is reading the JSON file just fine. The problem is with the storage. Nothing is being logged in the console inside the callback function for the `storage.get(...)`. I logged `storage` right before that call and it just said `[object Object]`.

Hope that helps. And again, I'm free to try any ideas you have.

[2016-02-03 20:17] abhi1-g opened #105 "[1.0] Select Element background is black when DevTools is in Device Mode"
When DevTools is in Device Mode a large portion of the Select Element dropdown background is black
![light](https://cloud.githubusercontent.com/assets/8082746/12795625/dde07700-cae0-11e5-81ba-b1aef32ca375.jpg)
It happens with all light and dark themes
![dark](https://cloud.githubusercontent.com/assets/8082746/12795659/03068362-cae1-11e5-8d0b-984d31aff849.jpg)

[2016-02-03 21:43] micjamking commented on #105
Hi @abhi1-g, thanks for bringing this to my attention. Just so I can confirm, is this a Windows machine?

Since I'm on a Mac, this issue is not present (OSX uses a system default style for select menu pop-ups).

![screen shot 2016-02-03 at 11 24 30 am](https://cloud.githubusercontent.com/assets/651702/12797625/fc9d0140-ca68-11e5-94eb-1a92c1e80f1f.png)

![screen shot 2016-02-03 at 11 23 06 am](http

[2016-02-03 21:55] okor commented on #31
So, just one human here - but I spend most of my day in the Network and Timeline tabs (I'm a perf engineer). I read how you created this with the original intent of focusing on the authoring experience. I get it. But for me, I would like to see the other tabs inherit the same styles.

Not unlike this project: https://chrome.google.com/webstore/detail/devtools-theme-zero-dark/bomhdjeadceaggdgfoefmp

[2016-02-04 01:11] micjamking commented on #31
Hey @okor, thanks for reaching out!

I totally get it, I promise you. Who knows, if this issue get's enough :+1: AND I (or someone) has the time to contribute, I'd be open to reconsider.

DevTools Author started out as a pet project that worked fine for JUST ME, but now that its been released, I'm no longer the primary audience, and so I'm genuinely open to feedback and criticism.

That being said

[2016-02-04 11:50] whatifhappen opened #107 "cursor is missing on element attribute"
Hi, when I clicked on the element attribute, the cursor is gone,
![image 5](https://cloud.githubusercontent.com/assets/4222249/12814243/826cd614-cb78-11e5-8a0c-ed9e3a8638a2.png)
 any idea how to fixed that?

[2016-02-04 18:15] okor commented on #31
@micjamking Oh, I hadn't seen the dark theme switcher in Canary yet, that's rad. In that case, since a lot of color/contrast edge cases are probably handled by the default "dark" theme, I would agree that it's probably not worth the effort to do a bunch of work on the Network and other panels at this time. I definitely like have this plugin so I can modify the font, especially for the console and

[2016-02-04 19:11] bolensmichael commented on #105
I can confirm this is happening on PC only. Works fine on my macbook, but on my desktop it shows up strangely.
<img width="450" alt="2016-02-04 13_10_06-edit fiddle - jsfiddle" src="https://cloud.githubusercontent.com/assets/1218380/12826471/c027a0e8-cb40-11e5-9462-6848e6deb91b.png">

[2016-02-04 20:42] #107 closed

[2016-02-04 20:50] micjamking commented on #107
Hey @whatifhappen, thanks for bringing this to my attention! This issue should be resolved in v0.5.10 a6ef221

![cursor](https://cloud.githubusercontent.com/assets/651702/12829187/d8c2fba2-cb2c-11e5-96b7-4fa8aab0c389.gif)

[2016-02-04 22:19] micjamking commented on #86
Hey @DuckyDisciple & @j-lo

Can you try adding a `console.log(object)` on the following line(s) and let me know the output:

https://github.com/micjamking/devtools-author/blob/master/app/scripts/panel.js#L236
https://github.com/micjamking/devtools-author/blob/master/app/scripts/panel.js#L250

You should get an object with a single property, either `'devtools-theme'` or `'devtools-fontFamily'` and

[2016-02-04 22:59] j-lo commented on #86
Hey @DuckyDisciple and @micjamking, just quickly to wanted to say great work and thanks a bunch for the support on this, apologies I haven't been able to provide more help, it's a little out of my field of knowledge.

Thought I'd just let you know I was trying it again this morning and it seems to be working now. I assumed the extension just auto updates, though I checked `chrome://extensions/`, w

[2016-02-05 00:14] micjamking commented on #86
Hey @j-lo, glad to hear you finally got it working!

I'm holding off for a response from @DuckyDisciple since he mentioned similar issues.

I've had 20+ bug fix releases since this issue appeared, but they have almost all been on the CSS side. The only code recent code changes which could impact this were the `async` attribute in v0.4.8 and adding custom font-family support in v0.5.0.

Not sure if

[2016-02-05 00:40] DuckyDisciple commented on #86
@micjamking Both of those log as undefined

[2016-02-05 00:41] DuckyDisciple commented on #86
Also, this issue was happening at home as well for me, so it looks like it was the update, not the location that caused this. Likewise, my Chromebook has been rebooted a few times and the issue is still happening.

[2016-02-05 00:55] benniemosher opened #109 "Access to seperate css rules to have more precise styles"
I was trying to update my theme that was just merged in, The One, and found a few css rules that I need access to and to be able to set them differently. I found the rules, but I am not sure how to add them to the project without breaking all the other themes. I have created PR #108 where I tried to override the rules in my theme's styling, but it does not seem to be taking effect. Is there anothe

[2016-02-05 01:03] micjamking commented on #86
@DuckyDisciple :unamused: okay. My next thought is to see exactly _what_ is being saved in your Chrome storage by the extension.

Before the `init()` call at the end of the **panel.js** file, can you try and add the following:

**[app/scripts/panel.js](https://github.com/micjamking/devtools-author/blob/master/app/scripts/panel.js#L275)**
[code]
This should output an object containing properties of

[2016-02-05 01:37] micjamking commented on #109
Hi @benniemosher

I see what you mean. At this time, I don't think there's a way of exposing individual (but commonly shared) style rules outside of the `styles` @mixin called in each theme file.

**However, each theme file itself is self-contained and therefore _can_ have it's own unique style rule overrides at the bottom of the theme file, just as you have implemented.**

The issue with your cha

[2016-02-05 02:58] whatifhappen commented on #107
it's working, thanks

[2016-02-05 12:22] DuckyDisciple commented on #86
@micjamking Alright, now I'm confused. It's working but it isn't. I put that line in and it logged an object. The Author Settings tab is populated now. I put those other 2 logs in and they showed the correct values. So it looks like everything is good now....except the theme isn't being applied. I went to make sure the settings were all correct, but I don't even have the experiments tab in the dev

[2016-02-05 12:33] DuckyDisciple commented on #86
Yeah, after a reboot it came up and is working fine. I'm glad it's working, but I wish I could have figured out what the problem actually was. The weird thing is that I'm running off of the locally unpacked extension, so I wouldn't have got any updates you made, and I hadn't really rebooted Chrome since the last time I tried. I have no clue what changed.

[2016-02-05 17:40] micjamking commented on #86
@DuckyDisciple can you confirm if the chrome store extension is working for you? Much like you, I'd like to know the real cause/problem, but if it's working for both of you guys without hiccup, we can chalk it up to Chrome sync issues.

[2016-02-05 19:01] DuckyDisciple commented on #86
@micjamking It is working in the chrome store. After seeing it working on my unpacked extension, I removed that, added it from the store, and tested again and it was working.

[2016-02-05 20:05] micjamking commented on #86
@j-lo & @DuckyDisciple okay, thank you guys for all your patience with trying to track down the issue. Since it sounds like it's been resolved for everyone, I'm going to go ahead and close this issue. However if you have any further issues feel free to leave a comment and I'll reopen this thread.

Mahalo!

[2016-02-05 20:33] micjamking commented on #31
@okor awesome! Since you're using Canary, I'd definitely appreciate any feedback/bug reports you're noticing to help me get things cleaned up in preparation for default light/dark themes in Chrome stable. Feel free to leave an issue here and I'll try to follow up as soon as I can.

Mahalo!

[2016-02-05 20:54] okor commented on #31
Yeah, it looks pretty rad overall. Only thing that stood out is the "sources" tab, where the sidebar ends up having a super low contrast - using the built in dark theme + Monokai from Author.

<img width="1144" alt="screen shot 2016-02-05 at 15 46 19" src="https://cloud.githubusercontent.com/assets/142910/12858690/a6ce5f3a-cc1f-11e5-8ca5-e2932e68414f.png">

And here it is flipped, using Monokai ag

[2016-02-06 12:47] micjamking commented on #109
I think this issue can be closed, however I've updated the [README.md](https://github.com/micjamking/devtools-author/blob/master/README.md#creating-additional-themes) to include instructions for creating custom adjustments in individual themes, and am referring to this issue.
:v:

[2016-02-06 12:47] #109 closed

[2016-02-06 21:33] micjamking commented on #84
Hey @thinkhuman & @MWrathDev, my apologies for prematurely closing this issue without addressing both of your concerns: changing 'Reload' to 'Close and reopen' within the Author Settings panel itself and updating the documentation to include the necessary restart of Chrome after setting a flag. This is my oversight for assuming, but it _is_ a necessary step when changing any Chrome flags.

The Chr

[2016-02-07 03:06] micjamking opened #112 "Support default dark theme in sources panel in Chrome v50"
In Chrome Version 50.0.2642.0 canary (64-bit); there is a default 'dark' theme available, skinning all panels in DevTools with a Dark theme.

![screen shot 2016-02-03 at 12 06 36 pm](https://cloud.githubusercontent.com/assets/651702/12870625/98125fd6-ccf2-11e5-9308-20162a61cbf5.png)

DevTools Author works out of the box with the new dark themes, only targeting code-view and console panels within D

[2016-02-07 03:11] micjamking commented on #112
If possible, it would be nice to also skin the Author Settings panel to use a dark background when the 'dark' parent theme is applied.

![screen shot 2016-02-06 at 5 09 18 pm](https://cloud.githubusercontent.com/assets/651702/12870688/944d935a-ccf4-11e5-835d-0cc2a9a94639.png)

[2016-02-07 03:18] micjamking commented on #31
@okor thanks for the feedback; I've opened a separate issue for the with the sources panel while using the dark theme in Canary. Feel free to add any other issues you find here: https://github.com/micjamking/devtools-author/issues/112

[2016-02-07 03:41] micjamking opened #113 "Refactor common styles to be more modular"
Currently, most of the styles are contained in a single common Sass partial; this was initially done for efficiency when only elements and console panels were being skinned. With the addition of the elements panel, and (minor) potential for further growth, it makes the current structure unscalable and difficult to maintain.

[app/styles/modules/_common-styles.scss#L2](https://github.com/micjamking

[2016-02-07 04:07] micjamking opened #114 "Improve theme preview within Author Settings panel"
Several users have commented/mentioned in [Chrome Store reviews](https://chrome.google.com/webstore/detail/devtools-author/egfhcfdfnajldliefpdoaojgahefjhhi/reviews) they would like for an 'easier way to explore themes'. Currently, theme selection is very low-tech, using a simple drop-down menu and animated preview of the color palette, without context of code syntax.

![screen shot 2016-02-06 at 5

[2016-02-07 05:02] micjamking opened #115 "Improve contrast of selected top panel"
Selected panel is difficult to see, suggest moving to top of screen and highlighting in primary color from theme.

![screen shot 2016-02-06 at 6 59 24 pm](https://cloud.githubusercontent.com/assets/651702/12870976/fab66946-cd03-11e5-8fe6-22653c00ba89.png)

![screen shot 2016-02-06 at 6 59 52 pm](https://cloud.githubusercontent.com/assets/651702/12870975/fab3daa0-cd03-11e5-8ca8-b7d472d02538.png)

[2016-02-07 06:46] #115 closed

[2016-02-07 07:24] #112 closed

[2016-02-07 19:02] benniemosher commented on #19
@micjamking Has this been started at all anywhere? What would you like the approach to be? How can I help with this?

[2016-02-07 20:00] besir commented on #96
+1

[2016-02-07 23:15] micjamking commented on #19
Hey @benniemosher, thanks for asking! I'm new to testing so I could really use help here anywhere you're able to provide it. I started a test branch about 6 months ago using `sinon-chrome`, but it's really behind and I'm not sure if it's worth salvaging. However, it is there for reference: https://github.com/micjamking/devtools-author/tree/tests

I've updated the original issue description to incl

[2016-02-09 04:25] benniemosher commented on #19
Great man! After I get my personal site updated and launched I will get on this as the next task in my free time!

[2016-02-09 05:09] mknrls commented on #114
Interesting! Really like theme previews idea. The colorsublime approch seem to the best way to go, although the  devthemez (screenshots) approach it not as bad will increase the plugins (like you stated).
Well i guess it also depend what format the screenshots are saved at and what resolution.

[2016-02-09 07:28] micjamking commented on #19
@benniemosher Awesome! Again, I really appreciate the help, anywhere and anytime you can.

Also, I'm interested in checking out your personal site when it's done :smile:

[2016-02-10 11:48] micjamking opened #121 "Add 'None/Default' theme option"
Allow users to just use the default CSS styles of Chrome DevTools while also taking advantage the ability to edit font-size and font-family.

[2016-02-10 20:21] klimashkin commented on #97
To be honest it's not Darcula :) I made a screenshot. Left - JetBrains Darcula, right - this plugin.
All colors are different

![screen shot 2016-02-10 at 12 17 38 pm](https://cloud.githubusercontent.com/assets/576077/12960579/d096a244-cff0-11e5-8f1d-b0291e030dc8.png)

[2016-02-10 20:39] micjamking commented on #97
@klimashkin I'm not sure where @bolensmichael found the color palette values for the theme, but it does appear the syntax highlighting itself is a bit off. I mentioned this in my original comment here: https://github.com/micjamking/devtools-author/issues/97#issuecomment-178452032, but something to note is that DevTools itself does have some theming restrictions which may prevent 100%, 1-to-1 mappi

[2016-02-10 20:39] bolensmichael commented on #97
Hi @klimashkin sorry it's not exactly right. I was going based off of the images and color codes on the site here **http://eclipsecolorthemes.org/?view=theme&id=14569** since you didn't provide the hex scheme and matched it pretty much identically to what is displayed there. The groundwork for the theme is now merged in, so feel free to swap the colors in that you'd prefer them to be!

[2016-02-11 13:19] DuckyDisciple commented on #86
@micjamking Looks like the issue is back. When I saw that the theme was missing, I went back to the theme selector menu and it was grayed out like before. I just uninstalled the extension and loaded the unpacked extension that I was testing with before (version 0.5.6) and it is working fine. Not sure if you have heard of others having this problem. I can do some testing if you would like.

[2016-02-11 15:33] visualcookie opened #122 "Themes not working on Windows 10"
Hi,

I've installed your extension and it's awesome. On Mac OSX I have not problems with the themes, but on Windows 10, when I have chosen a Theme and restart the DevTools, it's not working somehow.

I'm using Chrome v48.0.2564.103.

[2016-02-11 15:36] visualcookie commented on #122
I've closed this issue. Hadn't enabled custom UI for DevTools. Weird, thought the settings would sync over the devices I'm using.

[2016-02-11 15:36] #122 closed

[2016-02-11 21:24] benniemosher commented on #19
@micjamking I created a PR for setting up the testing framework. Have you had a chance to look at it yet?

[2016-02-11 23:06] j-lo commented on #86
Yeah, @micjamking and @DuckyDisciple, can also confirm I'm getting the issue again too. It's a little random though, I can get some pages to work, then they don't. I can close them and refresh and they'll work again, but sporadically. I notice too that if I open two tabs from the same local page I'm working from the first dev tools will work, but not the second or subsequent ones. As of now though

[2016-02-11 23:46] micjamking commented on #19
@benniemosher Sorry man, haven't had the chance to look at it yet. I plan to check it out later today and will merge in. My apologies for keeping you waiting.

[2016-02-12 06:00] micjamking commented on #114
@mknrls I think A LOT of people will appreciate it. Right now I'm leaning on the color sublime ideal but it will require re-writing [app/scripts/themes.json](https://github.com/micjamking/devtools-author/blob/master/app/scripts/themes.json), which I'm not looking forward too :unamused:

[2016-02-13 23:42] thgaskell commented on #19
Do you guys need help with this?

[2016-02-13 23:54] micjamking commented on #19
Hey @thgaskell thanks for asking!

re: PR #120; @benniemosher was able to get the initial TDD framework setup using [karma](http://karma-runner.github.io/0.13/index.html) + [jasmine](http://jasmine.github.io/) + [sinon-chrome](https://github.com/acvetkov/sinon-chrome) (via the [_karma-sinon-chrome_](https://github.com/9joneg/karma-sinon-chrome) plugin), however we're currently unable to test the `

[2016-02-14 00:20] micjamking commented on #86
Hey guys, I'm really bummed about this still being an issue. :disappointed:

@DuckyDisciple can you try what I recommended in https://github.com/micjamking/devtools-author/issues/86#issuecomment-180132678, specifically the `storage.clear()` part, and let me know how that goes.

So I can confirm, what are the device/OS you both are having issues on? I know it may have been mentioned before, but we'

[2016-02-14 00:32] thgaskell commented on #19
@micjamking definitely.

Thanks for the update. I'll look into getting the tests to work with the newer version of sinon-chrome.

:white_check_mark:

[2016-02-14 00:36] micjamking commented on #105
@abhi1-g & @bolensmichael I don't want to let this issue drag out, but I do not have immediate access to a Windows machine so I need additional support for this. Is it possible for either of you to debug the select menu on the page where this issue is occurring (with shadow DOM enabled in DevTools) and see what styles could be overriding and/or causing conflict?

Also, what Windows OS version, Chr

[2016-02-14 01:08] micjamking opened #123 "[2.0] Create and submit themes as a service"
One idea I've been toying around with is developing a service to allow people to create custom themes for DevTools using DevTools Author. This service would be a web application designed to customize and preview a theme, generate the necessary theme Sass template file, and (using GitHub API) submit a pull request to the DevTools Author GitHub project for the newly generated themes.

The web app wo

[2016-02-14 08:37] PEM-- opened #124 "Improve console.table readability"
When using `console.table` with dark theme, its `table`'s `background-color` should be adapted for having a better readability:

[code]

![capture d ecran 2016-02-14 a 09 31 20](https://cloud.githubusercontent.com/assets/227831/13032729/5d4e3ec6-d2fe-11e5-865f-42ffe6f13509.png)

PS: Amazing work and thanks for sharing it :star:

[2016-02-14 23:44] #121 closed

[2016-02-15 00:30] #124 closed

[2016-02-15 00:37] micjamking commented on #124
Hey @PEM-- , thanks again for bringing this issue to my attention!

The `console.table` readability issues have been resolved in release [v0.6.2](https://github.com/micjamking/devtools-author/releases/tag/v0.6.2)

**Dark Theme: Monokai**
![screen shot 2016-02-14 at 2 27 00 pm](https://cloud.githubusercontent.com/assets/651702/13037576/2fdf84ac-d328-11e5-919c-7dcca0871f78.png)

**Light Theme: 3024*

[2016-02-15 00:39] PEM-- commented on #124
I'm unfortunately too busy on customer's duty for proposing you a PR on this. Thanks @micjamking. You rock!  :clap:

[2016-02-15 21:13] bolensmichael commented on #105
@micjamking I have Win 10 64-bit latest Chrome and DevTools. At first glance I saw nothing that would be causing the issue. I will try to play with it more tonight as remoting into my PC and trying to debug is not working very well. If you have anything specific you'd like me to look for too, feel free to point it out! Otherwise I will be enabling/disabling styles until I find the culprit :)

[2016-02-15 22:51] thgaskell commented on #19
I have a forked version of karma-sinon-chrome and opened a PR (9joneg/karma-sinon-chrome#2) in hopes of getting that to be updated.

In the mean time, do you want to just link to the forked repo?
https://github.com/thgaskell/karma-sinon-chrome

[2016-02-15 23:03] benniemosher commented on #19
My vote is that we do that in an isolated branch until it gets updated in
their master. It will at least allow us to get testing.

--

Thanks,

Bennie Mosher
https://benniemosher.com
+1 (970) 590-2040

On Mon, Feb 15, 2016 at 3:51 PM, Tony Gaskell <notifications@github.com>
wrote:

[2016-02-15 23:10] micjamking commented on #19
@benniemosher I'm fine with that; I'll  branch off current `master` and make a new `test` branch (the current one is 6 months behind).

I'll update the package.json dependency to point to @thgaskell's fork in the new `test` branch.

[code]
Thanks again for helping out guys! :v:

[2016-02-15 23:37] micjamking commented on #19
@benniemosher & @thgaskell the new testing branch is available here: [micjamking/devtools-author#tests](https://github.com/micjamking/devtools-author/tree/tests)

I've also added basic tests for the **`chrome.*`** API's we need to confirm they are working: c4377fd1692f0ac04682678fbb9c49a553a78996

I'll get started creating the initial tests based on the scope I've outline in the original comment:

[2016-02-16 00:01] micjamking commented on #19
Also removed tests from `master` branch for now, until tests are complete in `test` branch. 8826281

[2016-02-16 01:16] j-lo commented on #86
Hey @micjamking, all good, I feel you, it's a really strange (and annoying) issue. If it's any consolation this is the third plugin I've broken in recent weeks, must just be me, so don't feel too bad.

Just to recap, I'm getting the issue occurring on both home and work setups, so a MacPro (late 2012) and an iMac (late 2013), both running latest versions of El Capitan (as of writing this anyway, 1

[2016-02-16 01:22] micjamking commented on #86
@j-lo Can you try disabling any/all plugins except for Devtools Author and accessing the plugin via an incognito window. You'll need to enable the plugin for incognito mode in chrome://extensions

Testing it this way, we can atleast isolate it from any extranneous environment variables. Thanks again for your help :v:

[2016-02-16 01:31] j-lo commented on #86
@micjamking Ah, didn't think to try it in Incognito mode...
Okay, turned off all my plugins (eight in all not including yours), allowed _DevTools Author_ to operate in Incognito mode, and sure enough the extension worked. Tested it on about half a dozen pages or so, both live and local dev ones, all good.

So where to next, should I try testing each of the other extensions one by one to see when i

[2016-02-16 02:01] micjamking commented on #86
@j-lo yup, but you may need to enable them for incognito in the same way you did DevTools Author in the extension settings panel.

If everything's working and you can't confirm the specific issue, then check try to replicate the process in normal mode, enabling each plugin one by one.

Let me know how it goes!

[2016-02-16 02:07] j-lo commented on #86
@micjamking Will do, will keep you posted ;)

[2016-02-16 04:09] j-lo commented on #86
Okay, @micjamking and @DuckyDisciple, ran through a gamut of tests with my other plugins/extensions in Chrome and I _may_ have found a constant trigger for the issue. Just for posterity, here's a list of the extensions I'm running:

- Four (default, I think) Google ones, so Google Docs, Google Docs Offline, Google Sheets and Google Slides - not sure if these appear for all users, maybe just becaus

[2016-02-16 12:22] DuckyDisciple commented on #86
Mine seems to be working now. I'm using an HP Chromebook 14 on version 48.0.2564.92 beta. It was really weird because when I went to test it today, half of my theme was applied (some colors and the font size were correct) but the theme dropdown was still empty like before. I closed all of my windows and then went into incognito mode to test and it was working. Then I opened a normal window and fou

[2016-02-17 09:25] thgaskell commented on #19
@micjamking I started writing some tests, but it's impossible to directly test the source methods since they're wrapped in **IIFE**s.

Also, the `init` functions are automatically ran as soon as the source files are included into karma, so it's trickier to mock the ajax requests since they're already called before the tests have ran.

It would be easier to test if the methods were exposed so the t

[2016-02-17 10:34] sunilw opened #126 "How do I change themes?"
I'm uncertain whether this counts as an issue or not. But I can't figure out how to switch from the default theme.

Is there a settings UI for devtools-author? How do I find it?

[2016-02-17 11:11] micjamking commented on #126
@sunilw If you have followed all of the instructions listed in the [README.md#Usage](https://github.com/micjamking/devtools-author#usage) section, then you should see an additional 'Author Settings' panel available in DevTools. You can change the themes from this panel (see below).

![screen shot 2016-02-17 at 1 08 53 am](https://cloud.githubusercontent.com/assets/651702/13107720/0e36a58c-d513-11e

[2016-02-17 11:15] sunilw commented on #126
I didn't think to look there.

It wasn't obvious to my eye. Probably because I've got a few devtools options and extensions enabled that crowd that part of the UI.

Thank you.

[2016-02-17 11:15] #126 closed

[2016-02-18 23:33] j-lo commented on #86
Yeah, similarly, mine's working fine now too @micjamking. So weird.
Tested it as I did before in both normal/incognito mode, all fine.

[2016-02-22 08:01] micjamking commented on #19
Hey @thgaskell & @benniemosher

Sorry for the delayed reply; I've been a bit busy with work and teaching the last week. That said, I was able to get some coding time in this weekend and we officially have tests now!!! :tada:

The latest version of the tests are available here:  [micjamking/devtools-author#tests](https://github.com/micjamking/devtools-author/tree/tests)

I have an open pull request

[2016-02-23 07:29] thgaskell commented on #114
sounds overkill :grimacing:

I feel like this task could be automated. Each theme could be loaded against the sample markup and exported in whatever format make sense? An array of colors is not very bad if you know exactly what each index is referring to, and if it's generated it's no cost to you as a developer! A small phantomjs script could probably do the trick.

[2016-02-23 07:58] micjamking commented on #114
@thgaskell it's not if you know what's coming ahead :smirk:

- Dynamic filtering using search field with autosuggestion
- Sorting for light/dark themes
- Theme ratings

Up to this point, my goal has been to write everything from scratch for DA, but after releasing it into the wild I'm fine with utilizing s framework that will allow me to continue adding features and improving the UX with better de

[2016-02-23 08:49] thgaskell commented on #114
Maybe not phantomjs (I thought it was based on chromium, but it's actually webkit). But there should be a chromium based driver.

You can load in some markup, along with each theme's css. Each time you could grab the computed colors of each element you care about, and generate the `themes.json` as an array of colors, or your own color mapping.

I could be over simplifying it, but the main thing is

[2016-02-23 19:11] micjamking opened #130 "Debugger line in dark themes is illegible"
JavaScript debugger highlight and text is currently illegible in dark themes.

![screen shot 2016-02-23 at 9 08 31 am](https://cloud.githubusercontent.com/assets/651702/13263371/594669d2-da0d-11e5-8b26-e73c10ee3e36.png)

[2016-02-23 21:31] micjamking opened #131 "[1.0] Replace Object.observe two-way data-binding"
DevTools Author's settings panel currently relies on [`Object.observe`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/observe) for two-way data-binding and communicating changes between the data model and the view.

[app/scripts/panel.js#L232](https://github.com/micjamking/devtools-author/blob/master/app/scripts/panel.js#L232)

[code]

According to [this C

[2016-02-24 10:42] #130 closed

[2016-02-24 10:45] micjamking commented on #130
This issues is resolved in [v0.6.3](https://github.com/micjamking/devtools-author/releases/tag/v0.6.3)

![screen shot 2016-02-24 at 12 37 42 am](https://cloud.githubusercontent.com/assets/651702/13283013/d5ed4d0c-da8f-11e5-86cf-fafe4e80bdf5.png)
![screen shot 2016-02-24 at 12 36 25 am](https://cloud.githubusercontent.com/assets/651702/13283012/d5ecb3e2-da8f-11e5-9de3-7825e28b7a5b.png)
![screen sho

[2016-02-24 18:42] alistaircom opened #132 "No option for Experiments in Chrome 48.0.2564.116 (64-bit)"
Using Chrome 48.0.2564.116 (64-bit) on Mac OSX 10.10.5 (Yosemite)

I have added the extension from the Chrome Web store. I then tried to follow the instructions:

    Open DevTools (cmd + opt + I); Settings > Experiments > check Allow custom UI themes.

I don't see the option for Experiments anywhere.  Is there something I have to enable elsewhere in order to see the Experiments option?

Screensho

[2016-02-24 18:46] alistaircom commented on #132
Got it.  I needed to enable:
chrome://flags/#enable-devtools-experiments

I didn't see that in the Chrome Web Store instructions, instead just following the instructions here on Github.

Perhaps add that into the README.

[2016-02-24 18:46] #132 closed

[2016-02-24 19:47] micjamking commented on #132
@alistaircom glad you got it resolved! Let me know if you experience any other issues.

[2016-02-24 19:59] micjamking commented on #114
@thgaskell I like this idea a lot; currently, the theme preview and actual theme CSS don't talk to each other, so developers are required to keep track of their colors in two different places which is not ideal.

This sounds like a good way forward, but I honestly have no idea how to go about approaching programmatically.

The markup & elements we need to extract the computed colors basically from

[2016-02-24 21:54] thgaskell commented on #114
I'll create a branch and work out a proof of concept.

On Wed, Feb 24, 2016 at 9:59 AM Mike King <notifications@github.com> wrote:

[2016-02-25 18:33] Carniatto opened #133 "Highlighted Code is hard to see on Dark Themes"
The highlighted code when clicking on an error is hard to see:

<img width="300" alt="screen shot 2016-02-25 at 3 25 10 pm" src="https://cloud.githubusercontent.com/assets/1366831/13329819/cdff7ae8-dbd4-11e5-8aeb-b70cc271c289.png">

<img width="831" alt="screen shot 2016-02-25 at 3 24 58 pm" src="https://cloud.githubusercontent.com/assets/1366831/13329818/cdf2c0f0-dbd4-11e5-8374-8e51b8a8c47f.png">

[2016-02-25 19:31] micjamking commented on #133
@Carniatto thanks for the feedback! I'll try to address this later today.

[2016-03-06 18:51] #19 closed

[2016-03-06 19:30] micjamking commented on #19
Hey @benniemosher & @thgaskell!

I just wanted to say thanks again for your guy's contributions in helping me get tests setup for DevTools Author. I've merged in #129 and added a `.travis.yml` to run CI builds.

[![screen shot 2016-03-06 at 9 24 01 am](https://cloud.githubusercontent.com/assets/651702/13556433/bef490e6-e37d-11e5-806a-d810c017a365.png)](https://travis-ci.org/micjamking/devtools-aut

[2016-03-07 10:08] #131 closed

[2016-03-07 10:37] micjamking commented on #86
Hi @j-lo & @DuckyDisciple!

I know you mentioned that it started working for you both again a few weeks ago, but I just wanted to follow up and see if you were continuing to have issues. I've done a bit of refactoring in [v0.6.4](https://github.com/micjamking/devtools-author/releases/tag/v0.6.4) and I'm hoping that it may have addressed the issue you guys are experiencing.

Can you confirm if the

[2016-03-07 12:28] DuckyDisciple commented on #86
@micjamking Everything has been working fine for me. I just upgraded to the newest version in the webstore (v0.6.4) and that is working too. Thanks!

[2016-03-07 22:07] j-lo commented on #86
@micjamking yeah it's all good. It had been on and off for me the past week or so, but likewise I upgraded it to 0.6.4, had to give Chrome a restart but now it's working just fine ;)

[2016-03-07 22:09] micjamking commented on #86
Hi @j-lo & @DuckyDisciple! Thanks for the heads up guys! I'm going to close this issue for now, but feel free to comment if the issue resurfaces and I will reopen the issue.

Mahalo!
:v:

[2016-03-07 22:09] #86 closed

[2016-03-07 22:11] micjamking commented on #105
Hi @bolensmichael, I'm just following up to see if you were able to discover anything while debugging the issue on your end?

[2016-03-09 05:51] abhi1-g commented on #105
The Device Mode has been updated with new UI in the latest Chrome 49 Update and the Issue is resolved in Chrome 49
![screenshot](https://cloud.githubusercontent.com/assets/8082746/13626559/13aab706-e5e9-11e5-857a-ea3f11cc6f6e.jpg)

[2016-03-09 21:05] micjamking commented on #105
Hey @abhi1-g, thanks for following up!

It seems like the issue may have been related to DevTools itself rather than my plugin; I'm going to close this issue for now, but feel free to comment if you experience any other issues and I will reopen.

Mahalo!
:v:

[2016-03-09 21:05] #105 closed

[2016-03-10 15:34] despairblue opened #135 "enable it in remote debug mode"
Awesome work!

Could this extension also work on `chrome-devtools://devtools/bundled/inspector.html?ws=127.0.0.1:8058&experiments=true`?

[2016-03-11 21:25] ericthayer opened #136 "Media Query breakpoints in styles panel hard to see in dark themes"
Love the dark themes but the breakpoint text in the "styles" panel is hard to see with darker backgrounds. Below are some screenshots using the following themes:

**Material Dark**

![material-dark](https://cloud.githubusercontent.com/assets/2737007/13715764/28c2ea08-e794-11e5-880c-a6aedbdd52d1.png)

![material-dark-highlight](https://cloud.githubusercontent.com/assets/2737007/13715869/bc14ea72-e7

[2016-03-14 03:23] micjamking opened #137 "Delay of applied styles"
https://www.facebook.com/articlesfordevelopers/photos/a.10151435123819601.1073741825.129712729600/10153616513964601/

Really nice extension. The one thing which is stopping me using it is that the styles are applied with some delay. So when you open DevTools you see the default UI for almost a second and then you get the cool stuff :)

[2016-03-14 10:26] despairblue commented on #135
Started to work on linux, then on mac. Dunno why. Maybe had to restart chrome one more time.

[2016-03-14 10:26] #135 closed

[2016-03-15 16:19] ericthayer commented on #136
I was trying to edit this locally but having a hard time targeting this text. I assumed the "Comments/Secondary Content" value was the correct one?

[2016-03-19 15:51] siamakmokhtari opened #138 "Support `text-rendering`"
Hi there, I want to use `Fira Code` font in devtools but I can't set text-rendering. Please add this option (like Atom Editor):

[code]

[2016-03-20 19:44] micjamking commented on #138
Please see existing issue #87

[2016-03-21 16:35] Samjin opened #139 "BUG: dev tool is not automatically located to correct element."
Right click on page to inspect an element, the dev tool is opened, but it doesn't located or highlight to the element in DOM. You'll have to inspect the same element again to find it in the panel.

[2016-03-26 02:46] siamakmokhtari commented on #138
Thanks ;)

[2016-03-26 02:46] #138 closed

[2016-03-30 06:07] #136 closed

[2016-03-30 06:16] micjamking commented on #136
@ericthayer Apologies for the delayed reply, the past few weeks have been very busy and hectic. Among other things, I'm recovering from an extremely _nasty_ flu :mask:.

Anyways, thank you for leaving feedback! The issue is resolved in commit 3cbd97e and is available in release [v0.6.6](https://github.com/micjamking/devtools-author/releases/tag/v0.6.6)

**Material Dark**
![screen shot 2016-03-29 a

[2016-03-30 06:38] micjamking commented on #139
@Samjin Thanks for leaving feedback. Can I get a bit more information from you so I can try to replicate it on my machine.

What is your environment versions (Chrome, OS)?

I'm unable to replicate this behavior on my machine, below is a gif of my current experience.

![devtoolsauthor_inspectelement](https://cloud.githubusercontent.com/assets/651702/14133818/1c47aba2-f5ee-11e5-84ef-190b5787dd5b.gif

[2016-03-30 19:01] Samjin commented on #139
Chrome, window 7.Lets say if we go to chrome's page https://developer.chrome.com/multidevice/webview/overviewClick on any element after scroll to the middle of the page while chrome tool is closed(you can try the red color 'caution' element). You'll see it finds the element in devtool correctly, but it isn't showing up in element's viewport unless you scroll or re-inspect again.  Here's picture. L

[2016-04-11 16:48] ericthayer commented on #136
Thank you! This helps a bunch. Sorry to hear about the flu, glad you are better. Keep up the great work.

[2016-04-14 11:04] henrebotha commented on #137
I have it much worse. It takes minutes before the styles will load.

[2016-05-05 15:22] smlombardi opened #142 "Flash of Unstyled Content"
Every time I open dev tools with this enabled, if first loads the default way and then reloads with the style I have chosen in the extension.  This makes using dev tools feel slower that it needs to.

Am I missing something?  Or is there nothing that can be done to improve the experience?

[2016-05-05 23:11] micjamking commented on #142
Hi @smlombardi, thanks for the feedback. I believe this is similar/related to an existing issue: #137

DevTools is just a web app (HTML/CSS/JS), and DevTools Author works by adding a stylesheet to the DevTools HTML page. FOUC occurs from the browser rendering the default styles before all of the resources have been retrieved. In the case of DevTools, all of the features of the tool are built using

[2016-05-13 05:38] Samjin commented on #139
Any update on this?

[2016-05-28 15:14] nonameolsson commented on #139
I can't reproduce the problem.

[2016-06-06 18:30] wesbos opened #143 "Section for Custom CSS?"
Would it be possible to add an option to devtools author where you can paste your own CSS? I understand we can make our own themes, but often I want to just tweak 1 or 2 minor things and it seems a little involved to have to clone this repo just for that.

If this is outside of the scope, do you know of a plugin that does this?

[2016-06-09 20:49] jamby opened #144 "Theme does not get ported to the React Dev Tools"
So when using React, the React Dev Tools will appear in the dev tools area. But when I go to it, I lose the style that would appear on the Inspect section.

For instance:

![screen shot 2016-06-09 at 4 48 35 pm](https://cloud.githubusercontent.com/assets/250728/15945800/121321c8-2e62-11e6-884f-485ff1cec324.png)
![screen shot 2016-06-09 at 4 48 44 pm](https://cloud.githubusercontent.com/assets/2507

[2016-07-06 06:54] RSeidelsohn opened #145 "Font setting inconsistent"
When changing the font face (e.g. I use Inconsolata), the network tab looks like this (i.e. the bold text and the values don't align nicely): [Screenshot](https://drive.google.com/open?id=0B06fIzatoJiROTZhT3NqbjBCRXM)

[2016-07-11 19:48] colinhowells opened #146 "Custom fonts overridden by browser defaults under OSX/macOS 10.12 'Sierra'"
Thanks so much for making this, it's fantastic!

Since moving to the 10.12 public beta, I notice that while color schemes work fine, custom fonts don't. It seems to immediately switch to the serif default (Chrome 51.0.2704.106) upon loading.

(I've seen enough weird font behavior - mostly vanishing text - elsewhere in 10.12 that it may just be resolved with later updates)

[2016-07-20 18:31] colinhowells commented on #146
... and with public beta 2 and Chrome 52, problem solved

[2016-07-20 18:31] #146 closed, assigned to nobody

[2016-07-22 15:39] jtlevy commented on #133
I am finding the highlighted text too dark as well. Is there a fix outside of DT Author that you can suggest?

[2016-09-28 08:56] robclancy commented on #139
This issue is due to https://github.com/micjamking/devtools-author/issues/142. Using a larger font and/or line height means the scroll position is wrong after the style has been applied. If the dev tools are already open then there is no issue.

[2016-10-18 20:49] davidpanzarella opened #149 "Overall theme not working with Version 54.0.2840.59 (64-bit)"
Code styles seem to work fine, but all the other settings for inspector, tabs, etc are default or dark theme that ships with Chrome.

[2016-10-20 15:47] nasyrov commented on #149
Can confirm that, please check the attachment.
![screen shot 2016-10-20 at 16 46 56](https://cloud.githubusercontent.com/assets/1330477/19567240/e59bef44-96e4-11e6-8b01-10579ea7ac56.png)

[2016-10-25 09:10] thisizkp opened #150 "Tab titles in Devtools are getting cropped"
<img width="433" alt="screen shot 2016-10-25 at 14 37 45" src="https://cloud.githubusercontent.com/assets/4737336/19679777/da52fe7c-9ac0-11e6-8bbc-4a0bc0eacf19.png">

[2016-11-11 08:56] romaluca opened #151 "Is possible add the ruby syntax highlighting?"
Thanks

[2016-11-12 21:38] davidpanzarella commented on #149
@micjamking I guess this is no longer maintained?

[2016-11-21 05:40] andreylysenko commented on #149
Same story on Chrome for Mac ver. 54.0.2840.98
![dt1](https://cloud.githubusercontent.com/assets/1424450/20471880/bfcc5398-afbd-11e6-84a0-b81530d786bb.jpg)

[2016-12-21 21:19] edheltzel commented on #150
I can confirm this _(and this is **probably** related to OR a duplicate of #149)_

 ![image](http://rdm.d.pr/652M+)

**I'm also on Chrome 55 ↑**
![image](http://rdm.d.pr/9RjH+)

[2017-04-27 05:18] kimbah opened #154 "Themes only apply to main window (elements) not style window"
Having an issue that the themes only apply to the main dev tools windows ie the left hand (elements) one - does not apply to the RHS (ie with Styles, Computer, etc)???

Any help appreciated.
Regards,

Kim Hughes

[2017-05-08 19:50] rorysmorris commented on #144
Even Chrome's built-in dark theme doesn't support React Dev Tools. There's an issue for it on React Dev Tools's Github page, it didn't sound like a high priority. 3am eye-burn is us!

[2017-05-08 19:55] jamby commented on #144
Yeah I noticed one guy on Twitter that's working on it! Which is great.

[2017-05-08 19:59] rorysmorris commented on #144
Ah - awesome, eyes peeled!

[2017-05-20 16:47] swedkg commented on #150
The same happens on 58.0.3029.110 (64-bit)

[2017-07-04 02:57] DrianHillman commented on #150
Love DevTools Author but I've noticed this as well for quite some time. Here comes a PR to remedy this, @micjamking!

[2017-07-27 07:58] hronro opened #158 "Don't work with Chrome 62"

[2017-08-11 21:50] robclancy commented on #158
You don't realize how much you like this extension until it doesn't work.

[2017-08-18 17:24] olets opened #159 "how to change theme?"
I can't figure how to switch themes (macOS, but I'm not finding documentation for any OS), and can't find the "25+ editor themes" listed on http://mikeking.io/devtools-author/. Help?

Edit: I've found the themes. Still can't tell how to select one. On macOS, Chrome 60:

[code]

[2017-08-18 18:59] colinhowells commented on #159
Once enabled

    Enable Developer Tools experiments in chrome://flags/#enable-devtools-experiments. Restart Chrome for flags to take effect.
    Open DevTools (cmd + opt + I); Settings > Experiments > check Allow custom UI themes.

then you've got an additional menu - themes are in the pulldown (Material Dark for me):

<img width="838" alt="schemes" src="https://user-images.githubusercontent.com/

[2017-08-18 20:02] olets commented on #159
Sweet, completely missed that menu! 🙌

[2017-08-18 20:02] #159 closed, assigned to nobody

[2017-08-20 23:00] luke-denton-aligent opened #160 "Theme doesn't apply very well to React DevTools tab"
I've just installed the React Developer Tools extension, which adds a React tab in DevTools. It appears that the tab doesn't pick up the font size, but does pick up all the other theming information (colours etc)

I don't even use React, I just happen to be checking another site to see if it is using the library, and noticed the issue, so thought you might like to know.

Thanks

[2017-09-12 06:36] Syknapse commented on #154
I have the same issue.
![image](https://user-images.githubusercontent.com/29199184/30311416-67fa6234-9795-11e7-89ad-f95109f082e5.png)

[2017-09-14 13:55] jingsam commented on #158
Does not work with Chrome 63 too

[2017-09-25 07:05] retyui opened #163 "Text titles theme bad"
How fix this problem:
![image](https://user-images.githubusercontent.com/4661784/30796003-e80254f8-a1d8-11e7-843a-80aa4e3c68b6.png)

[2017-10-13 20:12] EmilianoTalamo commented on #158
Version 63.0.3239.0 (Official Build) canary (64-bit), not working.

[2017-10-20 19:24] gabovanlugo commented on #158
Version 64.0.3245.0 (Official Build) canary (64-bit), not working.

[2017-11-08 09:14] rr-kalbeck opened #165 "fold arrows next to elements duplicated"
when i increase the font size the fold arrows to the left of the html elements look like their being duplicated. doesn't look right.. here's the default

![image](https://user-images.githubusercontent.com/32479606/32540545-537c38e6-c46d-11e7-85f8-4262afaaf751.png)

and after increasing the font size a bit..

![image](https://user-images.githubusercontent.com/32479606/32540584-705c87d6-c46d-11e7-94

[2017-11-28 02:30] pranayrauthu opened #166 "Does not work with Chrome canary version"
Themes are not applied in chrome canary.

[2017-12-02 09:28] ghost commented on #166
The same issue in Google Chrome | 63.0.3239.70 (stable) beta (64 bit)

[2017-12-09 07:38] 5Mi commented on #166
Does not work in chrome 63

[2017-12-11 16:55] Ardrete commented on #166
+1

[2017-12-11 17:22] pranayrauthu commented on #166
I have created a small extension to change font. I hope it will be helpful. In options page you can change the font.
https://chrome.google.com/webstore/detail/devtools-font-changer/fikbcnlbgoafooldbkgikejejhaddajg

[2017-12-13 22:36] ogzA commented on #158
I do have the same issue, I thought that only I have this issue. Interesting. @micjamking

[2017-12-14 13:45] neoroma commented on #158
Version 63.0.3239.84 (Official Build) (64-bit) not working

[2017-12-15 13:17] aneeskodappana opened #167 "Not working on chrome 63"
chrome version -  63.0.3239.84

[2017-12-29 10:03] ntnbst commented on #167
guess they have no longer support.

[2017-12-31 16:51] arsari commented on #167
not working either on this version of chrome, Version 63.0.3239.108 (Official Build) (64-bit)

[2018-01-14 16:18] marcustisater commented on #167
Sucks! I really liked this plugin. Let me know if there is anything to help out with.

[2018-01-19 03:15] mixj93 commented on #167
Me too

[2018-01-22 14:07] ronilaukkarinen commented on #167
Yeah, 65.0.3322.3 (Official Build) dev (64-bit) here, not working ☹️ bummer.

[2018-01-22 14:10] aocneanu commented on #167
I chilled because I used it only for changing the console font size, and the other day I pressed by mistake `cmd +` while I was focusing the console and *baam*, the font increased. (ctrl for win)

[2018-02-26 14:04] #163 closed, assigned to nobody

[2018-04-02 13:39] amnkhan opened #168 "Not working with Chrome 65"
I am using Google Chrome 65 and the plugin is not working. I rechecked everything but it doesn't work. Anyone facing similar issues?

[2018-04-03 16:20] Tyree commented on #158
So, I'm assuming this project is dead? No dev response from at least 3 issue threads since Chrome 62. Oh well. Nice while it lasted! :-)

[2018-04-03 18:40] EmilianoTalamo commented on #168
Project's been dead for a while.

[2018-04-04 19:48] amnkhan commented on #168
Why Why Why 😭😭😭 ?

[2018-05-15 21:07] kissu commented on #168
Yep....super sad.
Eh, guess we are going to Firefox now ! 🎉

[2018-08-31 06:57] #151 closed, assigned to nobody

[2018-09-16 14:53] ghost commented on #166
Awesome!

[2018-10-29 06:52] JessicaSachs commented on #168
:-(

[2018-12-03 15:20] dannysmith commented on #168
Anyone know of a working fork of this, perchance?

Also: Is this now unmaintained, @micjamking? If so I'm happy to open a PR to add a notice to the top of the README and update the website.

[2018-12-28 16:26] d1y opened #169 "hi, He has no work🤥"
Google Chrome | 71.0.3578.98 (正式版本) （64 位）
-- | --
修订版本 | 15234034d19b85dcd9a03b164ae89d04145d8368-refs/branch-heads/3578@{#897}
操作系统 | Mac OS X
JavaScript | V8 7.1.302.31

[2019-02-08 08:16] cacarr-pdxweb commented on #169
The project is dead.

该项目已经死亡

[2019-04-18 15:51] arsari commented on #168
Not working in Chrome 73 too.

[2019-10-15 20:23] #149 closed, assigned to nobody

[2020-05-16 14:10] #150 closed, assigned to nobody

[2020-05-16 15:26] aneeskodappana commented on #143
😪😪 this project is dead @wesbos

[2021-08-23 21:38] mike22664 opened #170 "Chrome"

[2021-11-26 08:04] gbraad opened #171 "Invalid"
Invalid; this was caused by a conflicting extension

[2021-11-26 08:17] #171 closed, assigned to nobody

[2022-08-15 07:26] #167 closed, assigned to nobody